*{
	margin-top: 5px;
	margin-bottom: 5px;
}
.contact-title::before{
	content: " ";
	width: 50%;
	height: 1px;
	color: grey;
}
.contact_container{
	width: 600px
}
	.contact_message_input{
		width: 100%;
		height: 300px;
	}
	.contact_info{
		width: 100%;
		display: flex;
		flex-direction: row;
	}
		.contact_info_input:first-child{
			margin-right: 10px;
			height: 40px;
		}
		.contact_info_input{
			width: 50%;
		}
	.contact_mail{
		width: 100%;
	}
		.contact_mail_input{
			height: 40px;
			width: 100%
		}
	.contact_bouton{
		margin : 10px;
	}
		.contact_bouton > button {
			background-color: grey;
			color: #fff;
			border-radius: 7px;
			float: right;
			height: 40px;
			width: 150px;
		}