.circle{
	position: relative;
	margin: auto;
	width: 600px;
	height: 600px;
	border: 25px solid red;
	border-radius: 50%;


}
.circle::after{
	content:" ";
	width: 610px;
	height: 50px;
	background-color: red;
	position: absolute;
	top: 45%;
	z-index: -1;
	transform: rotate(45deg);

}
	.error_container{
		border-radius: 50%;
		display: flex;
		flex-direction: column;
		padding-top: 35%;
		padding-left: 20%;
		width: 400px;
		height: 400px;
	}
		.error_title{
			font-size: 80px;
		}
		.error_subtitle{
			font-size: 50px;
		}
